In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('../csv/AAPL.csv')
df.head()

         Date      Open      High       Low     Close  Adj Close       Volume
0  1980-12-12  0.513393  0.515625  0.513393  0.513393   0.410525  117258400.0
1  1980-12-15  0.488839  0.488839  0.486607  0.486607   0.389106   43971200.0
2  1980-12-16  0.453125  0.453125  0.450893  0.450893   0.360548   26432000.0
3  1980-12-17  0.462054  0.464286  0.462054  0.462054   0.369472   21610400.0
4  1980-12-18  0.475446  0.477679  0.475446  0.475446   0.380182   18362400.0

In [3]:
# 컬럼의 데이터를 인덱스로 변경
# set_index(컬럼명)

df = df.set_index('Date')

In [4]:
# 컬럼의 이름을 변경하려면?
df.columns = ['시가', '고가', '저가', '종가', '수정종가', '거래량']

In [5]:
df.head(1)

                  시가        고가        저가        종가      수정종가          거래량
Date
1980-12-12  0.513393  0.515625  0.513393  0.513393  0.410525  117258400.0

In [6]:
df.index.name = '날짜'

In [7]:
df.head(1)

                  시가        고가        저가        종가      수정종가          거래량
날짜
1980-12-12  0.513393  0.515625  0.513393  0.513393  0.410525  117258400.0

In [8]:
# 데이터프레임에서 특정 컬럼으로 필터
df.loc[:, '시가' : '수정종가']

                    시가          고가          저가          종가        수정종가
날짜
1980-12-12    0.513393    0.515625    0.513393    0.513393    0.410525
1980-12-15    0.488839    0.488839    0.486607    0.486607    0.389106
1980-12-16    0.453125    0.453125    0.450893    0.450893    0.360548
1980-12-17    0.462054    0.464286    0.462054    0.462054    0.369472
1980-12-18    0.475446    0.477679    0.475446    0.475446    0.380182
...                ...         ...         ...         ...         ...
2019-06-18  196.050003  200.289993  195.210007  198.449997  198.449997
2019-06-19  199.679993  199.880005  197.309998  197.869995  197.869995
2019-06-20  200.369995  200.610001  198.029999  199.460007  199.460007
2019-06-21  198.800003  200.850006  198.149994  198.779999  198.779999
2019-06-24  198.539993  200.160004  198.169998  199.169998  199.169998

[9715 rows x 5 columns]

In [9]:
df.iloc[:, 1:3]

                    고가          저가
날짜
1980-12-12    0.515625    0.513393
1980-12-15    0.488839    0.486607
1980-12-16    0.453125    0.450893
1980-12-17    0.464286    0.462054
1980-12-18    0.477679    0.475446
...                ...         ...
2019-06-18  200.289993  195.210007
2019-06-19  199.880005  197.309998
2019-06-20  200.610001  198.029999
2019-06-21  200.850006  198.149994
2019-06-24  200.160004  198.169998

[9715 rows x 2 columns]

In [11]:
# 시가가 100달러 이상인 경우
df.loc[df['시가'] >= 100]

,시가,고가,저가,종가,수정종가,거래량
날짜,,,,,,
2012-09-19,100.037140,100.570000,99.938568,100.300003,88.242981,81718700.0
2012-09-21,100.344284,100.724289,99.908569,100.012856,87.990341,142897300.0
2014-08-20,100.440002,101.089996,99.949997,100.570000,92.633347,52699000.0
2014-08-21,100.570000,100.940002,100.110001,100.580002,92.642563,33478000.0
2014-08-22,100.290001,101.470001,100.190002,101.320000,93.324173,44184000.0
...,...,...,...,...,...,...
2019-06-18,196.050003,200.289993,195.210007,198.449997,198.449997,26551000.0
2019-06-19,199.679993,199.880005,197.309998,197.869995,197.869995,21124200.0
2019-06-20,200.369995,200.610001,198.029999,199.460007,199.460007,21514000.0
2019-06-21,198.800003,200.850006,198.149994,198.779999,198.779999,47735300.0
2019-06-24,198.539993,200.160004,198.169998,199.169998,199.169998,9025362.0

In [12]:
# query() 함수
# query(조건식)

df.query('시가 >= 100 & 고가 < 150')

,시가,고가,저가,종가,수정종가,거래량
날짜,,,,,,
2012-09-19,100.037140,100.570000,99.938568,100.300003,88.242981,81718700.0
2012-09-21,100.344284,100.724289,99.908569,100.012856,87.990341,142897300.0
2014-08-20,100.440002,101.089996,99.949997,100.570000,92.633347,52699000.0
2014-08-21,100.570000,100.940002,100.110001,100.580002,92.642563,33478000.0
2014-08-22,100.290001,101.470001,100.190002,101.320000,93.324173,44184000.0
...,...,...,...,...,...,...
2017-07-13,145.500000,148.490005,145.440002,147.770004,143.326370,25199400.0
2017-07-14,147.970001,149.330002,147.330002,149.039993,144.558197,20132100.0
2019-01-03,143.979996,145.720001,142.000000,142.190002,141.039642,91244100.0
2019-01-04,144.529999,148.550003,143.800003,148.259995,147.060516,58607100.0
2019-01-07,148.699997,148.830002,145.899994,147.929993,146.733185,54777800.0

In [13]:
data = [
    [100, 900, 800, 700],
    [1200, 1400, 900, 800]
]

columns = [
    ['영업이익', '영업이익', '당기순이익', '당기순이익'],
    ['컨센서스', '잠정치', '컨센서스', '잠정치']
]

df = pd.DataFrame(data, columns = columns)

In [14]:
df

   영업이익       당기순이익
   컨센서스   잠정치  컨센서스  잠정치
0   100   900   800  700
1  1200  1400   900  800

In [15]:
# stack(), unstack()
stack_df = df.stack()

In [21]:
stack_df

        당기순이익  영업이익
0 잠정치     700   900
  컨센서스    800   100
1 잠정치     800  1400
  컨센서스    900  1200

In [22]:
stack_df.stack()

0  잠정치   당기순이익     700
         영업이익      900
   컨센서스  당기순이익     800
         영업이익      100
1  잠정치   당기순이익     800
         영업이익     1400
   컨센서스  당기순이익     900
         영업이익     1200
dtype: int64

In [23]:
stack_df.unstack()

  당기순이익       영업이익
    잠정치 컨센서스   잠정치  컨센서스
0   700  800   900   100
1   800  900  1400  1200

In [24]:
df

   영업이익       당기순이익
   컨센서스   잠정치  컨센서스  잠정치
0   100   900   800  700
1  1200  1400   900  800

In [30]:
df.stack(level = 0)

          잠정치  컨센서스
0 당기순이익   700   800
  영업이익    900   100
1 당기순이익   800   900
  영업이익   1400  1200

# 할로윈 투자 전략
1. 11월 1일에 구매 -> 6개월간 유지, 4월 말일에 판매
2. 11월 첫날의 시가로 구매
3. 4월 마지막 날의 종가 판매
4. 수익률 = (3번 과정 - 2번 과정) / 2번 과정
5. AMZN 데이터로 2000년부터 2019년까지 데이터로 백테스팅

In [31]:
df = pd.read_csv('../csv/AMZN.csv')
df

,Date,Open,High,Low,Close,Adj Close,Volume
0,1997-05-15,2.437500,2.500000,1.927083,1.958333,1.958333,72156000
1,1997-05-16,1.968750,1.979167,1.708333,1.729167,1.729167,14700000
2,1997-05-19,1.760417,1.770833,1.625000,1.708333,1.708333,6106800
3,1997-05-20,1.729167,1.750000,1.635417,1.635417,1.635417,5467200
4,1997-05-21,1.635417,1.645833,1.375000,1.427083,1.427083,18853200
...,...,...,...,...,...,...,...
5558,2019-06-18,1901.349976,1921.670044,1899.790039,1901.369995,1901.369995,3895700
5559,2019-06-19,1907.839966,1919.579956,1892.469971,1908.790039,1908.790039,2895300
5560,2019-06-20,1933.329956,1935.199951,1905.800049,1918.189941,1918.189941,3217200
5561,2019-06-21,1916.099976,1925.949951,1907.579956,1911.300049,1911.300049,3920300
5562,2019-06-24,1912.660034,1916.859985,1901.329956,1907.953857,1907.953857,1243601

In [32]:
# Date 컬럼의 데이터를 시계열로 변경
df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')

In [33]:
# Data 컬럼을 인덱스로 변환
df.set_index('Date', inplace = True)

In [34]:
df.loc['2000-11'].iloc[0]['Open']

35.8125

In [36]:
df.loc['2001-04'].iloc[-1]['Close']

15.78

In [37]:
for i in range(2000, 2020, 1):
    buy_mon = str(i) + '-11'
    sell_mon = str(i) + '-04'
    print(buy_mon, sell_mon)

2000-11 2000-04
2001-11 2001-04
2002-11 2002-04
2003-11 2003-04
2004-11 2004-04
2005-11 2005-04
2006-11 2006-04
2007-11 2007-04
2008-11 2008-04
2009-11 2009-04
2010-11 2010-04
2011-11 2011-04
2012-11 2012-04
2013-11 2013-04
2014-11 2014-04
2015-11 2015-04
2016-11 2016-04
2017-11 2017-04
2018-11 2018-04
2019-11 2019-04

In [38]:
acc_rtn = 1

for i in range(2000, 2019, 1):
    buy_mon = str(i) + '-11'
    sell_mon = str(i) + '-04'

    # 구입가 저장
    buy = df.loc[buy_mon].iloc[0]['Open']
    sell = df.loc[sell_mon].iloc[-1]['Close']

    # 수익률
    rtn = (sell - buy) / buy + 1

    # 누적 수익률
    acc_rtn *= rtn

In [39]:
acc_rtn

0.2361789612619287

In [40]:
# buyandhold인 경우
buy = df.loc['2000-11'].iloc[0]['Open']
sell = df.loc['2019-04'].iloc[-1]['Close']

rtn = (sell - buy) / buy + 1

rtn

53.794625340314134

In [41]:
# CAGR(연복리수익률)
# (수익률 ** (1 / 투자기간)) - 1

# 할로윈 CAGR
CAGR = (acc_rtn ** (1 / 20)) - 1
print(CAGR * 100)

-6.961637002734555

In [42]:
# buyandhold CAGR
CAGR = (rtn ** (1 / 20)) - 1
print(CAGR * 100)

22.04976410456394

In [43]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [44]:
start = datetime(year = 2000, month = 11, day = 1)
start

datetime.datetime(2000, 11, 1, 0, 0)

In [45]:
end = start + relativedelta(months = 5)
end

datetime.datetime(2001, 4, 1, 0, 0)

In [46]:
print(start.strftime('%Y-%m'), end.strftime('%Y-%m'))

2000-11 2001-04

In [47]:
def six_month(df, start = 2000, end = 2019, month = 11):
    if 'Date' in df.columns:
        df['Date'] = pd.to_datetime(df['Date'], format = '%Y-%m-%d')
        df.set_index('Date', inplace = True)

    # 누적 수익률 변수 생성
    acc_rtn = 1

    for i in range(start, end):
        start_ = datetime(year = i, month = month, day = 1)
        end_ = start_ + relativedelta(months = 5)

        buy_mon = start_.strftime('%Y-%m')
        sell_mon = end_.strftime('%Y-%m')

        buy = df.loc[buy_mon].iloc[0]['Open']
        sell = df.loc[sell_mon].iloc[-1]['Close']

        rtn = (sell - buy) / buy + 1

        acc_rtn *= rtn

    return acc_rtn

In [48]:
data = pd.read_csv('../csv/AMZN.csv')

In [49]:
six_month(data)

8.244683980501206

In [51]:
for i in range(1, 13, 1):
    print(f'{i}월 :', six_month(data, month = i))

1월 : 4.470910943811504
2월 : 4.408415564523263
3월 : 18.50624959809526
4월 : 13.582616833702685
5월 : 4.304179383672146
6월 : 5.111566986774566
7월 : 3.589575312504607
8월 : 6.418767529470167
9월 : 1.3058661611037958
10월 : 1.9960729229032756
11월 : 8.244683980501206
12월 : 6.23900557812782

In [52]:
import halloween as hw

In [53]:
df = pd.read_csv('../csv/AMZN.csv')

In [54]:
test = hw.Halloween(df, 2000, 2019)

In [56]:
test.accrtn()

8.244683980501206

In [57]:
test.cagr()

11.742834843522832